body {
    background-color: #505050;
    margin: 18px 0 0 8px;
}
.struct {
    margin: 0 auto;
    width: 1420px;
}
header {
    height: 137px;
    width: 1420px;
    position: relative;
}
header {
    border-radius: 9px;
    box-shadow: 10px 10px 10px #000000;
    background-color: #909090;
}
.left-place {
    border-radius: 9px;
    box-shadow: 10px 10px 10px #000000;
    background-color: #909090;
}
.middle {
    border-radius: 9px;
    box-shadow: 10px 10px 10px #000000;
    background-color: #909090;
}
.right-place {
    border-radius: 9px;
    box-shadow: 10px 10px 10px #000000;
    background-color: #909090;
}
.form {
    border-radius: 9px;
    box-shadow: 10px 10px 10px #000000;
    background-color: #909090;
}
header img.pic {
    height: 115px;
    margin: 10px 0 0 10px;
}
header img.mag {
    position: absolute;
    top: 10px;
    right: 30px;
}

header img.close {
    position: absolute;
    right: 10px;
    height: 20px;
    width: 20px;
}

header img.load {
    position: absolute;
    right: 10px;
    height: 20px;
    width: 20px;
}

header .close {
    bottom: 10px;
}

header .load {
    top: 10px;
}
.left-place {
    width: 108px;
    height: 410px;
    float: left;
    margin: 20px 0 0 30px;
    padding: 15px 0 0 32px;
}
.middle {
    margin: 20px 0 0 30px;
    width: 1020px;
    height: 582px;
    float: left;
    position: relative;
}
.right-place {
    width: 105px;
    height: 410px;
    float: left;
    margin: 20px 0 0 30px;
    padding: 15px 0 0 35px;
}
.left-place img {
    width: 69px;
    margin-bottom: 6px;
}
.left-place img.pick-me {
    border: 4px solid red;
    border-radius: 4px;
}
.right-place img {
    width: 69px;
    margin-bottom: 6px;
}
div.brick{
    width: 120px;
    height: 87px;
    background-repeat: repeat;
    background-image: url(resources/brick.jpg);
    margin: -5px 0 0 -26px;
}
.middle img {
    margin: 10px;
    width: 1000px;
    height: 562px;
}
.form form {
    height: 22px;
}
.form {
    background-color: #88ff89;
    width: 500px;
    height: 150px;
    position: absolute;
    bottom: 125px;
    left: 220px;
    padding: 10px;
    font-family: arial;
    font-size: 16px;
    font-stretch: expanded !important;
    letter-spacing: 1px;
    font-weight: 300;
}
span.bold {
    font-family: Times;
    font-size: 31px;
}

.form span.paint {
    text-shadow: 5px 5px 5px #ff0000;
}
span.italic {
    font-style: italic;
}
.form form input[type="text"] {
    margin-left: 2px;
    width: 376px;
    border: 2px solid #9d969d;
    border-bottom-color: #eeeeee;
    border-right-color: #eeeeee;
    height: 15px;
}
.form form {
    height: 22px;
}
a.move1 {
    position: absolute;
    /* background: #ff0000; */
    width: 87px;
    height: 74px;
    z-index: 1;
    margin-top: 365px;
    margin-left: -691px;
    /* margin-bottom: 374px; */

}
a.move2 {
    position: absolute;
    /* background: yellow; */
    width: 87px;
    height: 74px;
    z-index: 1;
    margin-top: 365px;
    margin-left: -173px;
    /* margin-bottom: 374px; */

}